.app-header {
    height: 60px;
    margin: 0;
  }
  
  .logo img {
    height: 3vh;
    margin-left: 20px;
  }
  
  .app-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(141, 141, 141);
  }
  
  .app-header nav > * {
    margin-right: 10px;
  }
  
  .nav-links {
    padding: 10px;
  }
  
  .header-link {
    color: rgb(88, 56, 56);
    padding: 10px;
  }
  
  .header-link:hover {
    color: rgb(27, 8, 8);
    padding: 10px;
  }
  .header-link:active {
    color: rgb(31, 7, 7);
    padding: 10px;
  }
  